In [1]:
import numpy as np
import pandas as pd

In [2]:
banda= pd.read_csv('Banda.csv')

In [3]:
chandauli=pd.read_csv('Chandauli .csv')

In [4]:
chitrakoot=pd.read_csv('Chitrakoot .csv')

In [5]:
fatehpur=pd.read_csv('Fatehpur.csv')

In [6]:
idukki= pd.read_csv('Idukki.csv')

In [7]:
jhansi=pd.read_csv('Jhansi.csv')

In [8]:
kausambi=pd.read_csv('Kausambi.csv')

In [9]:
mahoba=pd.read_csv('Mahoba.csv')

In [10]:
mirzapur=pd.read_csv('Mirzapur.csv')

In [11]:
prayagraj=pd.read_csv('Prayagraj.csv')

In [12]:
sant_ravidas=pd.read_csv('sant ravidas nagar.csv')

In [13]:
son_bhadra=pd.read_csv('sonbhadra.csv')

In [14]:
varanasi=pd.read_csv('varanasi.csv')

In [15]:
wayanad=pd.read_csv('wayanad.csv')

In [16]:
banda['Location']= 'Banda'

In [17]:
banda.head()

,YEAR,MO,DY,HR,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WD10M,WS50M,WD50M,Location
0,2001,1,1,0,13.83,10.39,12.12,7.87,79.56,0.13,99.87,2.82,96.83,5.23,96.43,Banda
1,2001,1,1,1,13.73,10.64,12.19,8.00,81.44,0.12,99.83,2.64,107.90,4.69,107.05,Banda
2,2001,1,1,2,13.55,10.83,12.19,8.12,83.50,0.22,99.82,2.72,119.81,4.66,118.97,Banda
3,2001,1,1,3,13.37,10.97,12.17,8.18,85.19,0.10,99.80,3.02,129.96,4.91,129.44,Banda
4,2001,1,1,4,13.27,11.10,12.19,8.24,86.50,0.04,99.82,3.09,139.82,4.91,139.45,Banda

In [18]:
chandauli['Location']= 'Chandauli'

In [19]:
chitrakoot['Location']= 'Chitrakoot'

In [20]:
idukki['Location']= 'Idukki'

In [21]:
jhansi['Location']= 'Jhansi'

In [22]:
kausambi['Location']= 'Kausambi'

In [23]:
mahoba['Location']= 'Mahoba'

In [24]:
mirzapur['Location']= 'Mirzapur'

In [25]:
prayagraj['Location']= 'Prayagraj'

In [26]:
sant_ravidas['Location']= 'sant_ravidas'

In [27]:
son_bhadra['Location']= 'son bhadra'

In [28]:
varanasi['Location']= 'Varanasi'

In [29]:
wayanad['Location']= 'Wayanad'

In [30]:
fatehpur['Location']='Fatehpur'

In [31]:
mydfs = [banda,chandauli,chitrakoot,idukki,jhansi,kausambi,mahoba,mirzapur,prayagraj,sant_ravidas,son_bhadra,varanasi,wayanad]

In [32]:
df = pd.concat(mydfs)

In [33]:
df.head()

,YEAR,MO,DY,HR,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WD10M,WS50M,WD50M,Location,Unnamed: 0,date
0,2001,1,1,0,13.83,10.39,12.12,7.87,79.56,0.13,99.87,2.82,96.83,5.23,96.43,Banda,NaN,NaN
1,2001,1,1,1,13.73,10.64,12.19,8.00,81.44,0.12,99.83,2.64,107.90,4.69,107.05,Banda,NaN,NaN
2,2001,1,1,2,13.55,10.83,12.19,8.12,83.50,0.22,99.82,2.72,119.81,4.66,118.97,Banda,NaN,NaN
3,2001,1,1,3,13.37,10.97,12.17,8.18,85.19,0.10,99.80,3.02,129.96,4.91,129.44,Banda,NaN,NaN
4,2001,1,1,4,13.27,11.10,12.19,8.24,86.50,0.04,99.82,3.09,139.82,4.91,139.45,Banda,NaN,NaN

In [34]:
df.Location.unique()

array(['Banda', 'Chandauli', 'Chitrakoot', 'Idukki', 'Jhansi', 'Kausambi',
       'Mahoba', 'Mirzapur', 'Prayagraj', 'sant_ravidas', 'son bhadra',
       'Varanasi', 'Wayanad'], dtype=object)

In [35]:
df.to_csv('final_list.csv')

In [36]:
df.shape

(2307240, 18)

In [37]:
df['date']=pd.to_datetime(dict(year=df.YEAR, month=df.MO, day=df.DY))

In [38]:
df.head()

,YEAR,MO,DY,HR,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WD10M,WS50M,WD50M,Location,Unnamed: 0,date
0,2001,1,1,0,13.83,10.39,12.12,7.87,79.56,0.13,99.87,2.82,96.83,5.23,96.43,Banda,NaN,2001-01-01
1,2001,1,1,1,13.73,10.64,12.19,8.00,81.44,0.12,99.83,2.64,107.90,4.69,107.05,Banda,NaN,2001-01-01
2,2001,1,1,2,13.55,10.83,12.19,8.12,83.50,0.22,99.82,2.72,119.81,4.66,118.97,Banda,NaN,2001-01-01
3,2001,1,1,3,13.37,10.97,12.17,8.18,85.19,0.10,99.80,3.02,129.96,4.91,129.44,Banda,NaN,2001-01-01
4,2001,1,1,4,13.27,11.10,12.19,8.24,86.50,0.04,99.82,3.09,139.82,4.91,139.45,Banda,NaN,2001-01-01

In [39]:
banda['date']=pd.to_datetime(dict(year=banda.YEAR, month=banda.MO, day=banda.DY))

In [40]:
chandauli['date']=pd.to_datetime(dict(year=chandauli.YEAR, month=chandauli.MO, day=chandauli.DY))

In [41]:
chitrakoot['date']=pd.to_datetime(dict(year=chitrakoot.YEAR, month=chitrakoot.MO, day=chitrakoot.DY))

In [42]:
fatehpur['date']=pd.to_datetime(dict(year=fatehpur.YEAR, month=fatehpur.MO, day=fatehpur.DY))

In [43]:
idukki['date']=pd.to_datetime(dict(year=idukki.YEAR, month=idukki.MO, day=idukki.DY))

In [44]:
jhansi['date']=pd.to_datetime(dict(year=jhansi.YEAR, month=jhansi.MO, day=jhansi.DY))

In [45]:
kausambi['date']=pd.to_datetime(dict(year=kausambi.YEAR, month=kausambi.MO, day=kausambi.DY))

In [46]:
mahoba['date']=pd.to_datetime(dict(year=mahoba.YEAR, month=mahoba.MO, day=mahoba.DY))

In [47]:
mirzapur['date']=pd.to_datetime(dict(year=mirzapur.YEAR, month=mirzapur.MO, day=mirzapur.DY))

In [48]:
prayagraj['date']=pd.to_datetime(dict(year=prayagraj.YEAR, month=prayagraj.MO, day=prayagraj.DY))

In [49]:
sant_ravidas['date']=pd.to_datetime(dict(year=sant_ravidas.YEAR, month=sant_ravidas.MO, day=sant_ravidas.DY))

In [50]:
son_bhadra['date']=pd.to_datetime(dict(year=son_bhadra.YEAR, month=son_bhadra.MO, day=son_bhadra.DY))

In [51]:
varanasi['date']=pd.to_datetime(dict(year=varanasi.YEAR, month=varanasi.MO, day=varanasi.DY))

In [52]:
wayanad['date']=pd.to_datetime(dict(year=wayanad.YEAR, month=wayanad.MO, day=wayanad.DY))

In [53]:
mydf1=[banda,chandauli,chitrakoot,fatehpur,jhansi,mahoba,mirzapur,prayagraj,sant_ravidas,son_bhadra, varanasi]

In [54]:
mydf2=[wayanad,idukki]

In [55]:
train = pd.concat(mydf1)

In [56]:
test=pd.concat(mydf2)

In [57]:
train.shape

(1952280, 18)

In [58]:
test.shape

(354960, 17)

In [59]:
train.to_csv('train.csv')

In [60]:
test.to_csv('test.csv')

In [61]:
banda.head()

,YEAR,MO,DY,HR,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WD10M,WS50M,WD50M,Location,date
0,2001,1,1,0,13.83,10.39,12.12,7.87,79.56,0.13,99.87,2.82,96.83,5.23,96.43,Banda,2001-01-01
1,2001,1,1,1,13.73,10.64,12.19,8.00,81.44,0.12,99.83,2.64,107.90,4.69,107.05,Banda,2001-01-01
2,2001,1,1,2,13.55,10.83,12.19,8.12,83.50,0.22,99.82,2.72,119.81,4.66,118.97,Banda,2001-01-01
3,2001,1,1,3,13.37,10.97,12.17,8.18,85.19,0.10,99.80,3.02,129.96,4.91,129.44,Banda,2001-01-01
4,2001,1,1,4,13.27,11.10,12.19,8.24,86.50,0.04,99.82,3.09,139.82,4.91,139.45,Banda,2001-01-01

In [62]:
banda.to_csv('banda.csv')

In [63]:
jhansi.to_csv('jhansi.csv')

In [64]:
chandauli.to_csv('chandauli.csv')

In [65]:
chitrakoot.to_csv('chitrakoot.csv')

In [66]:
kausambi.to_csv('kausambi.csv')

In [67]:
prayagraj.to_csv('prayagraj.csv')

In [68]:
fatehpur.to_csv('fatehpur.csv')

In [69]:
son_bhadra.to_csv('sonbhadra.csv')

In [70]:
mahoba.to_csv('mahoba.csv')

In [71]:
mirzapur.to_csv('mirzapur.csv')

In [72]:
sant_ravidas.to_csv('santravi.csv')

In [73]:
varanasi.to_csv('varanasi.csv')

In [74]:
idukki.to_csv('idukki.csv')

In [75]:
wayanad.to_csv('wayanad.csv')